<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragments :: head}">
</head>
<body>
	<header th:insert="~{fragments/fragments :: navbar}">
		
	</header>
    
	<main class="container">
		<div class="row">
			<div class="col-12">	
				
				<th:block th:if="${pizze.size() > 0}">
					<h1 class="py-4 mb-2 text-center">
						Lista delle Pizze
					</h1>
						
								<form th:action="@{/pizze/search}" method="GET" class="col-12 p-4">
										<div class="form-group my-3 row">
											<div class="col-md-8">
												<input name="name" type="text" class="form-control me-2 w-100" id="name-input"
													placeholder="cerca pizze per nome">
											</div>
											<div class="col-4 ps-0">
												<button type="submit" class="btn btn-success w-100">Cerca Pizze</button>
											</div>
										</div>
								</form>
								<!-- Bottone Creazione -->
								<div class="mb-3 d-flex pe-5">
									<a th:href="@{/pizze/create}" class="ms-auto me-5 btn btn-lg btn-primary">Aggiungi nuova pizza</a>					
								</div> 
								
					<table class="table table-striped table-hover mt-2">
										<thead>
											<tr>
												<th>Nome</th>
												<th>Descrizione</th>
												<th>Discount</th>
												<th>Promo restanti</th>
												<th>Foto</th>
												<th class="text-center">Prezzo</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="pizza : ${pizze}">
												<td th:text="${pizza.name}" class="fs-3"></td>
												<td th:text="${pizza.description}" class="pt-3"></td>
												<td th:text="${pizza.numberOfDiscount}" class="pt-3"></td>
												<td th:text="${pizza.validDiscount}" class="pt-3"></td>
												<td class="text-center"> <img th:src="@{{url}(url=${pizza.url})}"></td>
												<td th:text="${pizza.price}" class="fw-bold text-center pt-3"></td>
												<td class="text-center">
													<a class="btn btn-sm btn-success m-1"
														th:href="@{'/pizze/show/{id}'(id=${pizza.id})}"
														role="button">Dettagli</a>
													<a class="btn btn-sm btn-warning m-1"
														th:href="@{'/pizze/edit/{id}'(id=${pizza.id})}"
														role="button">Modifica</a>  
													  	
														
														<!-- Button trigger modal -->
														<button type="button" class="btn btn-sm btn-danger m-1" data-bs-toggle="modal"
															th:data-bs-target="'#delete-' + ${pizza.id}">
															Cancella
														</button>
														
														<a th:if="${pizza.numberOfDiscount} > 0" th:href="@{/pizze/{id}/discount(id=${pizza.id})}" class="btn btn-outline-primary btn-sm">**</a>
														
														<!-- Modal -->
														<div class="modal fade" th:id="'delete-' + ${pizza.id}" tabindex="-1"
															aria-labelledby="exampleModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<h1 class="modal-title fs-5" id="exampleModalLabel">Conferma
																			cancellazione</h1>
																		<button type="button" class="btn-close" data-bs-dismiss="modal"
																			aria-label="Close"></button>
																	</div>
																	<div class="modal-body text-center">
																		Sei sicuro di voler eliminare la pizza [[ ${pizza.name} ]]?
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary"
																			data-bs-dismiss="modal">Annulla</button>
																		<form class="d-inline-block"
																			th:action="@{http://localhost:8080/pizze/delete/{id}(id=${pizza.id})}"
																			method="post">
																			<button class="btn btn-danger m-1" type="submit"
																				id="submitButton">Conferma</button>
																		</form>
																	</div>
																</div>
															</div>
														</div>
														
													 
														
														
															 <!-- Bottone cancella 
															 	<form class="d-inline-block" th:action="@{/pizze/delete/{id}(id=${pizza.id})}" method="POST">
															 		<button type="submit" class="btn btn-sm btn-danger" >
															 			Cancella
															 		</button>
																</form> -->
													      
													
													
												</td>
											</tr>
										</tbody>
					
				</th:block>	
				
				<!--
				<th:block th:unless="${pizze.size() > 0}">
					<h3 class="py-5 text-center">
						No pizza has been found with query <strong>[[ ${pizzaName} ]]</strong>
					</h3>
				</th:block>
				               -->
			</div>	
		</div>
		
	</main>
	
	<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>
