<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragments :: head}">
</head>
<body>
	<header th:insert="~{fragments/fragments :: navbar}">
		
	</header>
    
	<main class="container">
		<div class="row">
			<div class="col-12">	
				
				<th:block>
					
				
					<h1 class="py-4 mb-2 text-center">
						Detail for [[ ${pizza.title} ]]
					</h1>	
					
						<div class="row justify-content-center">
							<div class="col-6">
								<div class="card">
								  <div class="card-header">
								    Single pizza detail -- ISBN: [[ ${pizza.isbn} ]]
								  </div>
								  <div class="card-body">
								    <h5 class="card-title">[[ ${pizza.author} ]]</h5>
								    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								    <a th:href="@{/pizze}" class="btn btn-primary">Back</a>
								  </div>
								</div>
							</div>
						</div>	
							
					
				</th:block>	
				
			</div>	
		</div>
		
	</main>
	
	<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>
